<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
    <meta name="google" content="notranslate" />
    <title>{% block page_title %} {% endblock%}</title>


    {% load static %}

    {% load bootstrap5 %}

    {% bootstrap_css %}

    {% bootstrap_javascript %}

    {% bootstrap_messages %}
</head>

<body>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
        <div class="container-fluid">
            <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">Covid19 Statistics</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'all_countries' %}">All
                            Countries</a>
                    </li>
                    <li class="nav-item text-black">
                        <a class="nav-link text-black font-weight-bold" href="{% url 'my_records' %}">My Records</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    {% block content %}

    {% endblock content %}



    <footer class="footer py-1 fixed-bottom shadow bg-dark">
        <p class="m-0 text-light text-center font-weight-bold">All Rights Reserved &copy; 2022</p>
    </footer>
</body>

</html>