{% extends '_base.html' %}


{% block page_title %} Covid19 Statistics For All Countries {% endblock %}


{% block content %}


<br>


<h3 class="text-center">Covid19 Statistics For All Countries </h3>

<br>

{% for object in my_new_list %}


<div class="row justify-content-center">
    <div class="col-sm-10 d-flex justify-content-center">
        <div class="card text-dark text-center" style="width: 20rem;">
            <div class="card-block card-body">
                <form method="POST" action="">
                {% csrf_token %}
                <h5 class="card-header" name = "country">Country: {{object.Country}}, {{object.CountryCode}} 
                    <input name = "country" placeholder="Write the country name" >
                </h5>
                
                <br>
                <p class="card-text">Total Confirmed Cases: {{object.TotalConfirmed}} </p>
                <p class="card-text">Total Deaths Cases: {{object.TotalDeaths}} </p>
                <p class="card-text">Total Recovered Cases: {{object.TotalRecovered}} </p>
                <p class="card-text" name="date">Date: {{object.Date}} 
                    <input name="date" placeholder="Write the date" >
                </p>
                
                <button class="btn btn-success" type="submit" onclick="storeData()">ADD TO MY RECORDS </button>
                <!-- <button class="btn btn-success" type="submit">ADD TO MY RECORDS </button> -->
                </form>
            </div>
        </div>
        <br>
    </div>
</div>
<br>


{% endfor %}



{% endblock %}