{% extends '_base.html' %}


{% block page_title %} Covid19 Statistics For All Countries {% endblock %}


{% block content %}


<br>


<h3 class="text-center">Covid19 Statistics For All Countries  </h3>

<br>

{% for object in my_new_list %}


<div class="row justify-content-center">
    <div class="col-sm-10 d-flex justify-content-center">
        <div class="card text-dark text-center" style="width: 20rem;">
            <div class="card-block card-body">
                <form method="POST" action="{% url 'my_records' %}">
                    {% csrf_token %}
                <h5 name = "" class="card-header">Country: {{object.Country}}</h5>
                <input name="country">
                <p class="card-text">Total Confirmed Cases: {{object.TotalConfirmed}} </p>
                <p class="card-text">Total Deaths Cases: {{object.TotalDeaths}} </p>
                <p class="card-text">Total Recovered Cases: {{object.TotalRecovered}} </p>
                <p class="card-text" name="date">Date: {{object.Date}} </p>
                <!-- <button type = "submit" class = "btn-danger btn-sm">ADD TO MY RECORDS </button> -->
                <input type="submit" value="ADD TO MY RECORDS">
            </form>
            </div>
        </div>
        <br>
    </div>

</div>

{% endfor %}


{% endblock %}