{% extends '_base.html' %}

{% block page_title %} Covid19 Statistics {% endblock%}



{% block content %}

<br />

<br />

<br />


<h3 class="text-center">World Total Statistics</h3>

<br />

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
        <div class="card-body">
          <h5 class="card-title text-center">
            Total Confirmed: {{first_response.TotalConfirmed}}
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
        <div class="card-body">
          <h5 class="card-title text-center">
            Total Deaths: {{first_response.TotalDeaths}}
          </h5>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
        <div class="card-body">
          <h5 class="card-title text-center">
            Total Recovered: {{first_response.TotalRecovered}}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>

<br />

<br />

<br />


<h4 class="text-center">Get Statistics For a Specific Country</h4>

<br>

<div class="container justify-content-center">
  <form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    <label for="selected_country" style="margin-right: 5px;"> Select a Country, Start & End Dates : </label>
    <select>
      {% for object in my_list %}
      <option value="">{{object}}</option>
      {% endfor %}
    </select>
    <input type="search" placeholder="write the country name from the drop-down list in here to search for it"
      name="selected_country" id="selected_country">

    <label for="startdate"></label>
    <input type="date" id="start_date" name="start_date">

    <label for="enddate"></label>
    <input type="date" id="end_date" name="end_date">

    <input type="submit" value="Search" />
  </form>
</div>


<br>

<br>


{% for date, case in bigger_list %}
<div class="row justify-content-center">
  <div class="col-sm-10 d-flex justify-content-center">
    <div class="card text-dark text-center" style="width: 25rem;">
      <div class="card-block card-body">
        <h4 class="card-header">Date: {{date}}</h4>
        <br>
        <h6 class="card-text">Number of Confirmed Cases: {{case}}</h6>
      </div>
    </div>
    <br>
  </div>
</div>
<br>


{% endfor %}

{% endblock %}