{% extends '_base.html' %}

{% block page_title %} Covid19 Statistics {% endblock%}



{% block content %}

<br />

<br />

<h3 class="text-center">World Total Statistics</h3>

<br />

<div class="container">
  <div class="row">
      <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
          <div class="card-body">
            <h5 class="card-title text-center">
              Total Confirmed: {{first_response.TotalConfirmed}}
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
          <div class="card-body">
            <h5 class="card-title text-center">
              Total Deaths: {{first_response.TotalDeaths}}
            </h5>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card text-white bg-secondary mb-3" style="max-width: 20rem">
          <div class="card-body">
            <h5 class="card-title text-center">
              Total Recovered: {{first_response.TotalRecovered}}
            </h5>
          </div>
        </div>
      </div>
  </div>
</div>

<br />

<br />

<h4 class="text-center">Get Statistics For a Specific Country</h4>

<div class="container justify-content-center">
  <form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
    <select name="selected_country">
      {% for object in my_list %}
      <option value="">{{object}}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Search" />
  </form>
</div>

<!-- {% for object in second_response %}


<div class="card text-light bg-dark" style="width: 35rem;">
    <h3 class="card-header"></h3>
    <div class="card-body">
      <p class="card-text">{{object.Country}} </p>
      <p class="card-text">{{object.Date}} </p>
    </div>
  </div>


{% endfor %} -->

{% endblock %}