{% extends '_base.html' %}


{% block page_title %} My Records {% endblock %}


{% block content %}


<br>

<br>

{% for record in records_list %}

<div class="row justify-content-center">
  <div class="col-sm-10 d-flex justify-content-center">
    <div class="card text-dark text-center" style="width: 20rem;">
      <div class="card-block card-body">
        <h5 class="card-header">Country: {{record.country}} </h5>
        <p class="card-text">Date: {{record.date}} </p>
        <button class=""><a href="/record-delete/{{record.id}}">Delete</a></button>
      </div>
    </div>
    <br>
  </div>

</div>
<br>

{% endfor %}


{% endblock %}