{% extends '_base.html' %}


{% block page_title %} My Records {% endblock %}


{% block content %}

{% for record in records_list %}

<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-dark" style="width: 30rem;">
          <h3 class="card-header">Country: {{record.country}}</h3>
          <div class="card-body">
            <p class="card-text">Date: {{record.date}} </p>
          </div>
          <button><a href="/record-delete/{{record.id}}">Delete</a></button>
          <br>
        </div>
        <br>
      </div>
    </div>
  </div>
{% endfor %}


{% endblock %}

